* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  accent-color: pink;
}

input {
  accent-color: pink;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(220, 140, 153);
  border-radius: 10px;
  width: 1px;
  height: 1px;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  scroll-behavior: smooth;
}

.text-white {
  color: white;
}

.text-black {
  color: black;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.ver-center {
  align-items: center;
}

.hor-center {
  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-between {
  justify-content: space-between;
}

.button-blue {
  background-color: #438ff3;
}

.button-red {
  background-color: #f34943;
}

.button-green {
  background-color: #43f366;
}

.button-yellow {
  background-color: #f3f043;
}

.button-noborder {
  border: none;
}

.button-border-red {
  border: 1px solid#de2828;
}

.button-border-blue {
  border: 1px solid#2877de;
}

.border-bold-pink {
  border: 2px solid rgb(223, 104, 124);
}

.radius-medium {
  border-radius: 10px;
}

.button-white {
  background-color: white;
}

.text-normal {
  font-weight: 400;
}

.text-medium {
  font-weight: 500;
}

.text-semibold {
  font-weight: 600;
}

.text-bold {
  font-weight: 700;
}

.text-extrabold {
  font-weight: 800;
}


.box {
  padding: 20px;
  background-color: pink;
  border-radius: 10px;
  width: 80%;
}

.bookform {
  gap: 10px;
}

header {
  width: 90%;
  background-color: pink;
  margin: 3rem;
  border-radius: 30px;
  flex-wrap: wrap;
}

.forestofbooks {
  padding: 20px;
  text-align: left;
  display: block;
  width: 90%;
  font-size: 5rem;
  filter: drop-shadow(0 0 0.6rem pink);
}

.lastbook-button {
  padding: 8px 15px 8px 15px;
  font-size: 1rem;
  border-radius: 10px;
  margin-right: 8px;
  font-weight: 600;
  text-decoration: none;
}

.lastbook-desc {
  gap: 15px;
  padding: 40px;
  flex-grow: 1;
  width: 300px;
}

.lastbook-desc h4 {
  font-size: 1.5rem;
  font-weight: 600;
}

.lastbook-desc h2 {
  font-size: 4rem;
  font-weight: 700;
}

.lastbook-desc p {
  font-size: 1.2rem;
  font-weight: 500;
}

.lastbook-buttons{
  gap:10px;
}

.lastbook-image {
  padding: 40px;
  max-width: 600px;
  flex-grow : 1;
}

.lastbook-image img {
  width: 100%;
  border-radius: 40px;
  filter: brightness(0.8);
}

.bookListHeader {
  width: 90%;
  background: pink;
  padding: 10px;
  border-radius: 10px;
}

.bookshelf {
  background-color: rgb(242, 232, 233);
  width: 90%;
  gap: 30px;
  padding: 30px;
  flex-wrap: wrap;
  height: 800px;
  overflow-x: scroll;
  border-radius: 20px;
  margin-top: 20px;
}

.booklist-title {
  margin-top: 20px;
}

.books {
  width: 100%;
  padding: 10px;
}

.book {
  width: 25%;
  height: 350px;
  border-radius: 20px;
  background-color: pink;
  margin: 10px 10px 10px 0;
  padding: 20px 5px 20px 5px;
  gap : 15px;
}

.book-img {
  width: 198px;
  height: 112px;
  border-radius: 20px;
  object-fit: cover;
  object-position: center;
}

.book h1{
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}

.book p {
  width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}

.book a {
  text-decoration: none;
}

.book-buttons {
  gap : 5px;
}

.book-button {
  border-radius: 10px;
  padding: 10px;
}

.bookbox-container{
  width: 100%;
  max-width: 600px;
}


.bookbox-container h1 {
  margin: 20px;
}

.bookform img {
  max-width: 500px;
}

.bookform input {
  padding: 10px;
}

.bookform textarea {
  padding: 10px;
}

.bookform select {
  padding: 10px;
}

.book-button {
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
}

footer {
  padding: 60px;
}


@media screen and (max-width: 1300px) {
  .lastbook-desc {
    width: 50%;
    gap: 15px;
    padding: 40px;
  }
  
  .lastbook-desc h4 {
    font-size: 1.5rem;
    font-weight: 600;
  }
  
  .lastbook-desc h2 {
    font-size: 2rem;
    font-weight: 700;
  }
  
  .lastbook-desc p {
    font-size: 1.2rem;
    font-weight: 500;
  }
  footer {
    padding: 30px;
    font-size: 8px;
  }
}

@media screen and (max-width: 1100px) {
  .book {
    width: 45%;
  }
}

@media screen and (max-width: 600px) {
  .book{
    width: 80%;
  }
}

@media screen and (max-width: 400px) {
  .book{
    width : 100%
  }
}




